<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.mtsa.resistcalc">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".dic.DICEntrada1" />
        <activity
                android:name=".dic.DICResultado2"
                android:screenOrientation="landscape" />
        <activity android:name=".fbk.ResultadoFBK" />
        <activity android:name=".fpk.ResultadoFPK" />
        <activity android:name=".dic.DICResultado" />
        <activity android:name=".dic.DICEntrada2" />
        <activity android:name=".fpk.DetalharFPK" />
        <activity android:name=".fbk.DetalharFBK" />
        <activity android:name=".Entrada" />
        <activity android:name=".Sobre" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
                android:name="preloaded_fonts"
                android:resource="@array/preloaded_fonts" />
    </application>

</manifest>